body,
html {
  scroll-behavior: smooth;
}

#mainApp {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-image: url('../../asset/images/Moon.svg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: white;
}

#mainApp h1 {
  padding-top: 20px;
  position: fixed;
  left: 50%;
  z-index: 5;
}

.quizSection {
  overflow-y: hidden;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.quiz__main {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
  backdrop-filter: blur(10px);

  width: 70%;
  min-height: 400px;
  margin: 0 auto;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}

.quizSection p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

.quizSection h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

.quizSection i {
  vertical-align: bottom;
  margin-right: 5px;
}

.quiz__header {

  padding: 1.5rem 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}



.quiz__body {
  /* display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem; */
  padding: 2.5rem 3.25rem;
  min-height: 140px;
}

/* .quiz__body--text{
  grid-template-columns: repeat(1, minmax(0, 1fr));
} */
.quiz__footer {
  padding: 1rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz__current {
  margin: 0;
  font-size: 1rem;
  margin-right: 1rem;
  color: #fff;
}

label {
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
}

.quiz__btn {
  background: transparent;
  box-shadow: 4px 4px 60px rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all;
}

.quiz__btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
  text-decoration: none;
  color: white;
}

.custom-control-input:checked~.custom-control-label::before {

  border-color: #e73c7e;
  background-color: #e73c7e;
  box-shadow: none;
}

.form-control {
  outline: 0;
  display: block;
  width: 100%;
  height: 80px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 20px 2px rgb(0 0 0 / 10%);
  color: white;
}

.score {
  font-size: 2.5rem !important;
}

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}